.uditha-form-container{
    position: absolute;
    top: 60%;
    left: 50%;
    width: 50%;
    min-height: 400px;
    height: auto;
    padding: 40px;
    color: azure;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
    background-color: darkslategrey;
}
